*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/* 导航条 */
#nav{
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	background-color: #fbfbfb;
}
.logo{
	width: 152px;
	margin-left: 40px;
	float: left;
}
.menu>ul{
	width: 640px;
	height: 120px;
	float: left;
	margin-left: 330px;
}
.menu>ul>li{
	width: 128px;
	float: left;
	line-height: 120px;
	text-align: center;
}
.menu>ul>li>a{
	color: #000000;
	font-size: 20px;
}
.menu>ul>li>a:hover{
	color: #f1602c;
	text-decoration: none;
}
/* 巨幕 */
#list-bac{
	width: 100%;
	height: 300px;
	background-image: url(../image/list01.gif);
	background-size: cover;
	background-repeat: no-repeat;
}
#list-bac h2{
	font-size: 52px;
	font-weight: 900;
	padding-top: 80px;
}
#list-bac h2,#list-bac p{
	text-align: center;
	color: #FFFFFF;
}
#list-bac p{
	width: 130px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #269ABC;
}
#list-bac p:hover{
	background-color: #265A88;
	color: #000000;
}
#list-bac p a{
	color: #FFFFFF;
}
#list-bac p a:hover{
	color: #FFFFFF;
}
/* 图片列表放大显示 */
#list1{
	width: 1200px;
	height: 330px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}
#list1 ul li{
	float: left;
	overflow: hidden;
}
#list1 ul .list-move{
	margin-right: 20px;
}
#list1 ul li img{
	width: 280px;
	height: 280px;
	display: block;
	transition: all 500ms;
}
/* #list1 ul li img:hover{
	transform: scale(1.1);
} */
/* 图册选项卡 */
#list2{
	width: 1200px;
	height: 650px;
	margin: 0 auto;
}
.li-left{
	width: 600px;
	float: left;
	margin-left: 5px;
}
#list2 ul li{
	float: left;
}
#list2 ul li img{
	width: 180px;
	height: 180px;
	margin: 9px;
}
#list2 .li-right{
	width: 550px;
	height: 580px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}
#list2 .li-right div{
	float: left;
	display: none;
}
#list2 .li-right .select{
	display: block;
}
#list2 .li-right div img{
	width: 550px;
	height: 580px;
}
/* 回到顶部 */
#to-top .top{
	position:fixed;
	top:450px;
	right:0px;
	z-index: 3;
}
#to-top .top a img{
	width:80px;
	height:80px;
}
#to-top .top a:hover{
	opacity: 0.6;
}
/* 页脚 */
#footer{
	width: 1200px;
	height: 230px;
	margin: 0 auto;
	background-color: #1b1b1b;
}
.webtitle{
	width: 235px;
	height: 35px;
	color: #f27507;
	font-size: 22px;
	margin: 0 auto;
}
#footer .mess{
	width: 580px;
	color: white;
	font-size: 19px;
	margin-left: 225px;
}
.left-img{
	width: 140px;
	float: left;
}